@import 'src/variables';

.container {
  background-color: midnightblue;
  width: 100%;
  z-index: 100;
  position: fixed;
  height: $menuHeight;
  display: flex;
  top: 0;
  left: 0;
  border-bottom: 5px solid orange;
}

.logo {
  width: $menuHeight;
  height: $menuHeight;

  &:hover {
    cursor: pointer;
  }
}

.name {
  color: $main-color;
  text-transform: capitalize;
  font-size: 15px;
  padding: 3px;
  width: 95px;
  border-right: 5px solid orange;

  &:hover {
    cursor: pointer;
  }
}

.section {
  &-container {
    display: flex;
    @media (max-width: $menuBreakpoint) {
      display: none;
    }
  }

  &-item {
    position: relative;
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    color: $main-color;
    padding: 18px;
    transition: 0.3s;

    &:hover {
      color: $second-color;
      background-color: $third-color;
      cursor: pointer;
    }

    &:hover .section-submenu {
      display: block;
      background-color: midnightblue;
    }
  }

  &-submenu {
    display: none;
    position: absolute;
    width: fit-content;
    top: 100%;
    left: 0;
    z-index: 50;

    &-item {
      position: relative;
    }
  }
}

.small-menu {
  display: none;

  &-burger {
    display: none;
    margin-left: auto;
    @media (max-width: $menuBreakpoint) {
      display: block;
    }

    &-icon {
      margin-left: auto;
    }
  }

  @media (max-width: $menuBreakpoint) {
    &.is-open {
      display: block;
      position: absolute;
      top: #{$menuHeight};
      background-color: midnightblue;
      width: 100%;
    }
  }
}

