<div class="container">
  <img class="logo" src="assets/logo.png" alt="image" (click)="home()">
  <div class="name" (click)="home()">Eesti Rahvalüpsjate Erakond</div>
  <div class="section-container">
    <div *ngFor="let section of sections">
      <div *ngIf="section.id" class="section-item" (click)="go(section)">
        {{section.text}}
        <div *ngIf="!section.link" class="section-submenu">
          <div *ngFor="let submenuSection of sections">
            <div *ngIf="submenuSection.parentId === section.id"
                 class="section-submenu-item section-item"
                 (click)="go(submenuSection)">
              {{submenuSection.text}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-menu-burger section-item" (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
  </div>
  <div class="small-menu" [class.is-open]="isMenuOpen">
    <div *ngFor="let section of sections">
      <div *ngIf="section.isSeen || section.id" class="section-item" (click)="go(section)">
        {{section.text}}
        <mat-icon *ngIf="section.id && section.isSeen !== undefined" class="small-menu-burger-icon">
          {{ section.isSeen ? "close" : "menu"}}
        </mat-icon>
      </div>
    </div>
  </div>
</div>
