<div class="main">
  <img class="logo" src="assets/big_logo.png" alt="image" routerLink="">
  <div class="name" routerLink="">
    Eesti Rahvalüpsjate Erakond
  </div>
  <div class="section" routerLink="{{section.link}}" *ngFor="let section of sections">
    <div class="section-text">
      {{section.text}}
    </div>
  </div>
  <div class="section user-info" *ngIf="!authService.hasValidIdToken()" (click)="login()">
    Login
  </div>
  <div class="user-info" *ngIf="authService.hasValidIdToken()">
    <div class="section" (click)="logout()">
      Logout
    </div>
    <img class="user-info-image" src="{{userInfoService.picture}}" alt="image">
  </div>
</div>

