@import 'variables';

.container {
  display: flex;
  width: 100%;
  height: calc(100% - $footerHeight);
  overflow-y: auto;
}

app-playlist {
  flex: 30%;
}

app-song {
  flex: 70%;
}

@media (max-width: $menuBreakpoint) {
  .container {
    flex-direction: column;
  }
}

