.main {
  display: flex;
}

.image {
  width: 200px;
  height: 200px;
}

.ad {
  margin-top: 50px;
  //margin-right: ;
  margin-right: 50px;
  width: 300px;
  height: 200px;
  background-color: #ca63f5;
  border-radius: 50px;
}
