/* You can add global styles to this file, and also import other style files */
@import 'variables';

//@font-face {
//  font-family: 'BPReplay';
//  src: url('assets/fonts/BPreplay.otf') format('otf');
//}

@font-face {
  font-family: 'Loominguline';
  src: url('assets/fonts/Loominguline.otf') format('otf');
}

body {
  //background-color: $main-color;
  //background-image: url("assets/paper.png");
  background-image: url("assets/img_2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  //background-repeat: repeat;
  font-family: Loominguline, sans-serif;
}


