<div *ngIf="isLoading">
  Loading...
</div>
<div *ngIf="notFound">
  News not found
</div>
<div *ngIf="!isLoading && !notFound">
  <div *ngIf="!isEditing" class="news-article">
    <div class="title">{{title}}</div>
    <div class="under-title">
      <div class="creator">{{creator}}</div>
      <div class="date">{{date}}</div>
      <div class="category">{{category}}</div>
      <mat-icon *ngIf="canEdit() && !isEditing" (click)="edit()" class="icon">edit</mat-icon>
    </div>
    <div class="article">
      <div *ngIf="image" class="image">
        <img [src]="image" alt="Image">
      </div>
      <div class="text">{{text}}</div>
    </div>
  </div>
  <app-create-news *ngIf="isEditing"
                   [edit_id]="newsId"
                   [edit_file]="imageFile"
                   [edit_title]="title"
                   [edit_text]="text"
                   [edit_cat]="category">
  </app-create-news>
</div>





