<div *ngIf="isLoading">
  Loading...
</div>
<div *ngIf="!isLoading">
  <div *ngIf="!isEditing" class="news-article">
    <div class="title">{{title}}</div>
    <div class="under-title">
      <div class="creator">{{creator}}</div>
      <div *ngIf="canEdit() && !isEditing">
        <mat-icon (click)="edit()" class="icon">edit</mat-icon>
      </div>
    </div>
    <div class="article">
      <div *ngIf="image" class="image">
        <img [src]="image" alt="Image">
      </div>
      <div class="text">{{text}}</div>
    </div>
  </div>
  <div *ngIf="isEditing">
    <form [formGroup]="form">
      <div>
        <input style="width: 300px" type="text" id="title" formControlName="title">
      </div>
      <div>
        <img style="width: 300px; height: 300px" *ngIf="imageEdit" [src]="imageEdit" alt="Image">
      </div>
      <div>
        <textarea rows="10" cols="70" id="text" formControlName="text"></textarea>
      </div>
      <input type="file" id="image" (change)="onFileChange($event)" accept="image/*">
      <button *ngIf="isEditing && imageEdit" (click)="remove()">Remove image</button>
      <button *ngIf="isEditing" (click)="save()" [disabled]="!form.valid">Save</button>
      <button *ngIf="isEditing" (click)="discard()">Discard</button>
    </form>
  </div>
</div>





