<div *ngIf="isLoading">
  Loading...
</div>
<div *ngIf="notFound">
  News not found
</div>
<div *ngIf="!isLoading && !notFound">
  <div *ngIf="!isEditing" class="news-article">
    <div class="title">{{title}}</div>
    <div class="under-title">
      <div class="creator">{{creator}}</div>
      <div class="date">{{date}}</div>
      <div class="category">{{category}}</div>
      <mat-icon *ngIf="canEdit() && !isEditing" (click)="edit()" class="icon">edit</mat-icon>
    </div>
    <div class="article">
      <div *ngIf="image" class="image">
        <img [src]="image" alt="Image">
      </div>
      <div class="text">{{text}}</div>
    </div>
  </div>
  <div *ngIf="isEditing">
    <form [formGroup]="form">
      <div>
        <input style="width: 300px" type="text" id="title" formControlName="title">
      </div>
      <div>
        <input style="width: 150px" type="text" id="category" formControlName="category">
      </div>
      <img style="width: 300px; height: 300px" *ngIf="imageEdit" [src]="imageEdit" alt="Image">
      <div>
        <textarea rows="10" cols="70" id="text" formControlName="text"></textarea>
      </div>
      <input type="file" id="image" (change)="onFileChange($event)" accept="image/*">
      <button *ngIf="imageEdit" (click)="remove()">Remove image</button>
      <button (click)="save()" [disabled]="!form.valid">Create</button>
    </form>
  </div>
</div>





