.image-container {
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    display: inline-block;
    vertical-align: top;
    height: 200px; /* Adjust the height as needed */
    animation: scrollImages 20s linear infinite;
    cursor: grab;
  }

  img:hover {
    animation-play-state: paused;
    cursor: default;
  }

  @keyframes scrollImages {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

