@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 90%;
}

.rotate-mirror {
  transform: rotate(180deg) scaleX(-1);
}

.queue {
  margin: 2% 0;
  display: flex;
  gap: 25px;
  width: 95%;
  padding: 25px;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;

  &-box {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &-button {
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50px;
    width: 50px;
    &:hover {
      cursor: pointer;
      border-color: white;
      color: white;
    }
  }

  &-info {
    color: black;
    font-size: 30px;
    font-weight: 500;
    width: fit-content;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 5px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    -webkit-transition: transform 200ms ease-in-out;
    position: relative;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &-button {
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: $second-color-dark;
      border: 3px solid black;
      scale: 0.8;
      &:hover {
        background-color: $second-color-dark2;
      }
    }

    &-info {
      margin-top: 10px;
      font-size: 22px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      gap: 5px;
      color: black;
      border-radius: 10px;
      padding: 5px;
    }
  }

  &-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
