@import 'variables';

.drawer-container {
  border: 0;
  background-color: silver;

  height: 100%;
  overflow-y: auto;


  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #d3d3d3;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.drawer-title {
  text-align: center;
  //margin-bottom: 10px;
  margin: 10px 0;
  font-size: 25px;
}

.settings {
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $menuBreakpoint) {
      grid-template-columns: 1fr;
    }
  }
  &-box {
    position: relative;
    border-radius: 15px;
    padding: 15px 15px 0 15px;
    border: 3px solid;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 5px;
    &-icon {
      position: absolute;
      top: 15px;
      left: 15px;
    }
    &-info {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    &-title {
      text-align: center;
      font-size: 20px;
    }
    &-input {
      width: 200px;
      margin-top: 15px;
    }
  }
}

.chats {
  &-container {
    border: 3px solid orangered;
    background-color: orange;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
  }

  &-box {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: darkorange;
    border-radius: 5px;
    border: 2px solid darkorange;

    &:hover {
      cursor: pointer;
      background-color: orangered;
    }
  }

  &-selected {
    border-color: black;
  }

  &-title {
    position: absolute;
    font-size: 20px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 120px);
    padding-right: 10px;
  }

  &-button {
    margin-left: auto;
    margin-right: 0;
  }

  &-input {
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 20px;
  }
}
