
.container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cells {
  position: relative;
  width: 1200px;
  height: 600px;
  overflow: hidden;
}

.cell {
  width: 400px;
  height: 400px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data {
  margin-top: 100px;
  background-color: #dcb654;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  width: 200px;
  height: 350px;
}

.select-container {
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.select {
  transition: transform 1s, box-shadow 1s;
  overflow: hidden;
  text-align: center;
  height: 200px;
}

.select:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 10px #342331;
}

.image {
  width: 200px;
  height: 200px;
}

.arrow {
  top: 5px;
  height: 50px;
  width: 50px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: none;
  border-left: none;
  transition-duration: 0.4s;
}

.arrow:hover {
  border-top: 2px solid white;
  border-right: 2px solid white;
  cursor: pointer;
}

.right {
  transform: rotate(45deg);
}

.left {
  transform: rotate(-135deg);
}
