<div class="parent-container">
  <div class="container">
    <div class="title">
      {{titleText}}
    </div>
    <div class="chat-messages"  #chatContainer>
      <div *ngFor="let message of messages" class="message">

        <div *ngIf="message.isUser" class="user-message">
          <div class="name">Kasutaja</div>
          {{ message.text }}
        </div>

        <div *ngIf="!message.isUser" class="app-message">
          <div class="name">Tõnu</div>
          <div *ngIf="message.isLoading" class="loader"></div>
          <div *ngIf="!message.isLoading">{{ message.text }}</div>
        </div>
      </div>
    </div>
    <div class="input-area">
      <input type="text" [(ngModel)]="textFieldValue" maxlength="100" placeholder="Küsi küsimus" (keyup.enter)="submit()">
      <button (click)="submit()">Saada</button>
    </div>
  </div>
</div>
