

<div class="parent-container">
  <div class="container">
    <div *ngIf="!hasLoaded" class="loading">
      Loading...
    </div>
    <div *ngIf="hasLoaded">
      <div class="messages" #chatContainer>
        <div *ngFor="let message of messages" class="message">
          <div *ngIf="message.isUser" class="user-message">
            <div class="name">{{userInfoService.getUserName()}}</div>
            {{ message.message }}
          </div>
          <div *ngIf="!message.isUser" class="app-message">
            <div class="name">Tõnu</div>
            <div *ngIf="message.isLoading" class="loader"></div>
            <div *ngIf="!message.isLoading">{{ message.message }}</div>
          </div>
        </div>
      </div>
      <div class="input-area">
        <input type="text" [(ngModel)]="textField" maxlength="100" placeholder="Küsi küsimus" (keyup.enter)="send()">
        <button (click)="send()">Saada</button>
        <button (click)="clear()">Puhasta</button>
      </div>
    </div>
  </div>
</div>




