<div class="container">
  <button mat-icon-button (click)="play()">
    <mat-icon>{{ audio()?.paused ? 'pause' : 'play_arrow' }}</mat-icon>
  </button>
  {{ formatTime(currentTime) }}
  <mat-slider
    class="time-slider"
    min="0"
    max="{{ duration }}">
    <input matSliderThumb [(ngModel)]="currentTime" (ngModelChange)="onTimeChange($event)">
  </mat-slider>
  {{ formatTime(duration) }}
  <div class="volume-container" (mouseenter)="isShowing.set(true)" (mouseleave)="isShowing.set(false)">
    <button mat-icon-button (click)="toggleMute()">
      <mat-icon>{{ volume() === 0 ? 'volume_off' : 'volume_up' }}</mat-icon>
    </button>
    <mat-slider
      class="volume-slider"
      *ngIf="isShowing()"
      color="primary"
      step="0.1"
      min="0"
      max="1">
      <input matSliderThumb [ngModel]="volume()" (ngModelChange)="onVolumeChange($event)">
    </mat-slider>
  </div>
</div>


