@import 'variables';

.container {
  border-top: 3px solid white;
  background-color: $dark;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  width: 100%;
  bottom: 0;
  height: $footerHeight;
}

.time-slider {
  width: 50%;
  margin: 0 20px;
}

.volume-container {
  position: relative;
}

.volume-slider {
  position: absolute;
  top: -75px;
  right: -22px;
  min-width: 75px;
  z-index: 1000;
  transform: rotate(-90deg);
}

:host ::ng-deep {

  --mdc-slider-handle-width: 15px;
  --mdc-slider-handle-height: 15px;

  --mdc-slider-active-track-color: white;
  --mdc-slider-inactive-track-color: white;

  --mdc-slider-focus-handle-color: white;
  --mdc-slider-handle-color: white;

  // dont do anything
  //--mdc-slider-hover-handle-color: white;
  //--mdc-slider-with-overlap-handle-outline-color: white;
  //--mdc-slider-disabled-handle-color: white;
  //--mdc-slider-label-container-color: white;
  //--mdc-slider-with-tick-marks-active-container-color: white;
}
