@import 'src/variables';

.main {
  width: 100%;
  height: 500px;
  //background-color: #e3d2ea;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

$size: 30px;

.button-right {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: $size solid black;
  transition-duration: 0.4s;
}

.button-right:hover {
  border-right: $size solid azure;
  cursor: pointer;
}

.button-left {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;

  border-left: $size solid black;
}

.button-left:hover {
  border-left: $size solid azure;
  cursor: pointer;
}



.cells {
  position: relative;
  width: 1200px;
  height: 500px;
  overflow: hidden;
}

.cell {
  width: 400px;
  height: 500px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 350px;
  height: 350px;
}

.container {
  overflow: hidden;
  height: 498px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid $second-color;
  background-color: snow;
}

.big {
  padding: 5px;
  font-size: 40px;
  color: $second-color;
}

.text {
  padding: 5px;
  font-size: 30px;
  color: $second-color;
}
