<div *ngIf="!hasLoaded">
  loading
</div>
<div *ngIf="hasLoaded" style="background-color: aliceblue">
  <input type="text" [(ngModel)]="textField" maxlength="100" placeholder="Küsi küsimus" (keyup.enter)="send()">
  <input type="text" [(ngModel)]="language" placeholder="language">
  <button (click)="send()">send</button>
  <button (click)="cancel()">cancel</button>
  <button (click)="clear()">clear</button>
  <div *ngFor="let message of messages">
    {{message.message_owner}}: {{message.message_text}}
  </div>
</div>

<!--<div class="parent-container">-->
<!--  <div class="container">-->
<!--    <div *ngIf="!hasLoaded" class="loading">-->
<!--      Loading...-->
<!--    </div>-->
<!--    <div *ngIf="hasLoaded">-->
<!--&lt;!&ndash;      <div class="messages" #chatContainer>&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngFor="let message of messages" class="message">&ndash;&gt;-->
<!--&lt;!&ndash;          <div *ngIf="message.isUser" class="user-message">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="name">{{userInfoService.userName}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ message.text }}&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div *ngIf="!message.isUser" class="app-message">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="name">Vambola</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div *ngIf="message.isLoading" class="loader"></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div *ngIf="!message.isLoading">{{ message.text }}</div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="input-area">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" [(ngModel)]="textField" maxlength="100" placeholder="Küsi küsimus" (keyup.enter)="send()">&ndash;&gt;-->
<!--&lt;!&ndash;        <button [disabled]="!canWrite" (click)="send()">Saada</button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button [disabled]="!canWrite" (click)="clear()">Puhasta</button>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




