@import 'src/variables';

.main {
  width: 100%;
  background-color: $second-color;
  height: 50px;
  position: fixed;
  display: flex;
  z-index: 99;
  top: 0;
  left: 0;
  //align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo:hover {
  cursor: pointer;
}

.name {
  //margin-left: 10px;
  color: $main-color;
  text-transform: uppercase;
  width: 209px;
  height: 88px;
  font-size: 25px;
  padding: 6px 10px;
  //padding-top: 5px;
  //margin-top: 8px;
  //margin-right: 50px;
  background-color: $second-color;
  border-bottom-right-radius: 25px;
}

.name:hover {
  cursor: pointer;
}

.section {
  color: $main-color;
  font-size: 20px;
  text-transform: uppercase;
  //background-color: blue;
  height: 20px;
  padding: 15px 15px;
  //padding: 15px;
  //margin-right: 50px;
  transition: 0.3s;
}

.section:hover {
  color: $second-color;
  background-color: $main-color;
  cursor: pointer;
}

