@import 'src/variables';

.router-container {
  position: absolute;
  top: calc($menuHeight + 5px);
  left: 0;
  width: 100%;
  height: calc(100% - calc($menuHeight + 5px)); /* Adjust the height as needed */
  overflow-y: auto;
  box-sizing: border-box;
}

.router-container::-webkit-scrollbar {
  width: 10px;
}

.router-container::-webkit-scrollbar-track {
  background: $main-color;
}

.router-container::-webkit-scrollbar-thumb {
  background: #888;
}

.router-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}




