.spinner {
  //width: 100%;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  //background-image: url('../../../../assets/img_2.png');
  //background-size: cover;
  //background-repeat: no-repeat;

  background: linear-gradient(180deg, mediumblue 25%, darkblue 90%);
  width: 100%;
  height: calc(100% - 150px);
}

.board {
  position: relative;
  margin-top: 00px;
  width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/familyfeudboard.png'); /* Adjust the path and filename accordingly */

  border-radius: 50px;
  box-shadow: 0 0 0 5px orange, 0 0 0 10px gold, 0 0 0 15px orange;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-strikes {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-strike {
    font-size: 100px;
    border: 5px solid red;
    margin: 15px;
    color: red;
  }

  &-question {
    border-radius: 5px;
    box-shadow: 0 0 0 2px orange, 0 0 0 4px gold, 0 0 0 6px orange;
    background-color: dodgerblue;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 5px 50px;
    height: 30px;
    margin-top: 20px;
  }

  &-box {
    border-radius: 5px;
    box-shadow: 0 0 0 2px orange, 0 0 0 4px gold, 0 0 0 6px orange;
    background-color: dodgerblue;
    width: 80%;
    margin-top: 20px;
    columns: 2;
    padding: 15px 15px 0 15px;
  }

  &-item {
    margin-bottom: 15px;
    width: calc(100% - 15px);
    height: 40px;
    background: rgb(45,45,255);
    background: linear-gradient(0deg, rgba(45,45,255,1) 13%, rgba(90,174,255,1) 80%);
    border: 3px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 25px;
    color: white;
  }

  &-text {
    margin: 5px 5px 5px 50px;
    text-align: center;
    width: 100%;
  }

  &-points {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    background-color: navy;
  }

  &-number {
    text-align: center;
    background-color: navy;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px;
  }

  &-total-points {
    border-radius: 5px;
    box-shadow: 0 0 0 2px orange, 0 0 0 4px gold, 0 0 0 6px orange;
    background-color: dodgerblue;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 28px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
