celery==5.4.0
flower==2.0.1
redis==5.0.3
psycopg2==2.9.9
llama_cpp_python==0.2.56
SQLAlchemy==2.0.28
huggingface-hub==0.21.4
pydantic==2.6.1
newsdataapi==0.1.15
python-dotenv==1.0.1
beautifulsoup4==4.12.2
