@import 'variables';


.main-container {
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.canvas {
  &-button {
    position: absolute;
    left: 2%;
    top: calc(50% - 50px);
    z-index: 99;
  }

  &-popup {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
  }

  &-tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border: 1px solid #000;
    z-index: 100;
    pointer-events: none;
  }

  &-container {
    position: relative;
    width: min(100%, 1200px); /* Adjust as needed */
    height: min(100%, 1200px); /* Adjust as needed */
    overflow: hidden;
  }

  &-container-wrapper {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
  }

}

.drawer {
  height: 100%;
  width: 200px;
  background-color: royalblue;
  border: 0;
}

canvas {
  position: absolute;
  image-rendering: pixelated;
}


.square-7 {
  width:55px;
  aspect-ratio:1;
  --g1:conic-gradient(from  90deg at 3px  3px ,#0000 90deg,#fff 0);
  --g2:conic-gradient(from -90deg at 22px 22px,#0000 90deg,#fff 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-size:25px 25px;
  background-repeat:no-repeat;
  animation:s7 1.5s infinite;
  left: 50%;
  top: 50%;
  position: absolute;
}
@keyframes s7 {
  0%   {background-position:0    0   ,0 100%,100% 100% }
  25%  {background-position:100% 0   ,0 100%,100% 100% }
  50%  {background-position:100% 0   ,0 0   ,100% 100% }
  75%  {background-position:100% 0   ,0 0   ,0    100% }
  100% {background-position:100% 100%,0 0   ,0    100% }
}
