@import 'src/variables';

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
}

.canvas-container {
  position: relative;
  width: min(100%, 1200px); /* Adjust as needed */
  height: min(100%, 1200px); /* Adjust as needed */
  overflow: hidden;
}

canvas {
  position: absolute;
  image-rendering: pixelated;
}

.settings {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  height: fit-content;
  background-color: $third-color;

  .burger {
    padding: 10px;
    width: fit-content;
    transition: 0.3s;
    color: $main-color;

    &:hover {
      color: $second-color;
      background-color: $third-color;
      cursor: pointer;
    }
  }

  .color {
    width: 25px;
    height: 25px;
    margin: 0 10px;
    border: 2px $main-color solid;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      border: 2px black dashed;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
  }
}
