<!--<div class="popup-container">-->
<!--  <app-not-logged-in-popup [text]="popup" *ngFor="let popup of popupService.getPopups()"></app-not-logged-in-popup>-->
<!--</div>-->

<mat-drawer-container class="main-container" autosize>
  <mat-drawer-content class="canvas-wrapper">
    <button mat-icon-button class="canvas-button" (click)="drawer.toggle()">
      <mat-icon>{{drawer.opened ? "arrow_back_ios" : "arrow_forward_ios"}}</mat-icon>
    </button>
    <div class="square-7" *ngIf="loading"></div>
    <div class="canvas-container-wrapper" *ngIf="!loading">
      <div #canvasContainer class="canvas-container">
        <canvas #canvasElement
                width="1200"
                height="1200"
                (contextmenu)="placePixel($event)"
                (mousedown)="onMouseDown($event)"
                (mousemove)="onMouseMove($event)"
                (mouseup)="onMouseUpGlobal($event)"
                (wheel)="onWheel($event)"
                [style.transform]="'translate(' + offsetX + 'px, ' + offsetY + 'px) scale(' + scale + ')'">
        </canvas>
      </div>
      <!--      <div class="settings">-->
      <!--        <div class="burger" (click)="toggleMenu()">-->
      <!--          <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>-->
      <!--        </div>-->
      <!--        <div *ngIf="isMenuOpen" class="buttons">-->
      <!--          <div class="burger" (click)="showHelp()">-->
      <!--            <i class="material-icons">help_outline</i>-->
      <!--          </div>-->
      <!--          <div class="color"-->
      <!--               *ngFor="let color of predefinedColors"-->
      <!--               [style.background-color]="color"-->
      <!--               [class.selected]="selectedColor === color"-->
      <!--               (click)="selectColor(color)">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </mat-drawer-content>
  <mat-drawer #drawer [opened]="isSideDrawerOpen" mode="side" class="drawer">
    <div class="drawer-container">
      <div class="drawer-title">
        Tööriistad
      </div>
      <div class="drawer-component drawer-component-hover" [class.drawer-component-selected]="selectedTool === 'brush'"
           (click)="selectTool('brush')">
        <mat-icon class="drawer-icon" inline="true">brush</mat-icon>
        pliiats
      </div>
      <div class="drawer-component drawer-component-hover" [class.drawer-component-selected]="selectedTool === 'image'"
           (click)="selectTool('image')">
        <mat-icon class="drawer-icon" inline="true">image</mat-icon>
        pilt
      </div>
      <div class="drawer-title">
        Seaded
      </div>
      <div class="drawer-component">
        <mat-icon class="drawer-icon" inline="true">aspect_ratio</mat-icon>
        <div class="drawer-counter">
          <button class="drawer-counter-button" (click)="decreaseBrushSize()">-</button>
          {{brushSize}}
          <button class="drawer-counter-button" (click)="increaseBrushSize()">+</button>
        </div>
      </div>
      <div class="drawer-component drawer-component-hover" [matMenuTriggerFor]="menu">
        <mat-icon class="drawer-icon drawer-icon-border" [style.color]="brushColor.value" inline="true">color_lens
        </mat-icon>
        {{brushColor.text}}
      </div>
      <mat-menu #menu="matMenu" class="menu">
        <div mat-menu-item *ngFor="let color of colors" (click)="selectColor(color)">
          <mat-icon class="drawer-color-menu-icon" [ngStyle]="{color: color.value}">texture</mat-icon>
          {{color.text}}
        </div>
      </mat-menu>


      <div class="drawer-title">
        Lisa
      </div>
      <div class="drawer-component drawer-component-hover">
        <mat-icon class="drawer-icon" inline="true">help</mat-icon>
        abi
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
