@import 'src/variables';


.main-container {
  width: 100%;
  height: 100%;
  background-color: red;
}

.canvas {
  &-button {
    position: absolute;
    left: 2%;
    top: calc(50% - 50px);
    z-index: 99;
  }

  &-container {
    position: relative;
    width: min(100%, 1200px); /* Adjust as needed */
    height: min(100%, 1200px); /* Adjust as needed */
    overflow: hidden;
  }

  &-container-wrapper {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
  }
}


.drawer {
  height: 100%;
  width: 200px;
  background-color: lightgrey;
  border: 0;
}

::ng-deep .menu {
  background: orange;
}

canvas {
  position: absolute;
  image-rendering: pixelated;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orangered;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 34px;
  //border: 2px solid orangered
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #61e516;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}


.counter-container {
  text-align: center;
  margin-top: 20px;
}

.counter {
  font-size: 24px;
  margin-bottom: 10px;
}

.button-up,
.button-down {
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.button-up {
  background-color: #4caf50; /* Green */
  color: white;
}

.button-down {
  background-color: #f44336; /* Red */
  color: white;
}
